@import 'grid';

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

.pageContainer {
    height: 100vh;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.topContainer {
    display: flex;
    background-color: #357266;
}

.header {
    font-size: 32px;
    width: 100vw;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FCF7FF;

    .bodyTopText {
        font-size: 22px;
        padding-top: 25px;
        margin-bottom: 15px;
        margin-left: 88px;
        text-decoration: underline;
    }
    
    .courses {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        font-size: 20px;
        text-align: center;

        .courseTxt {
            font-style: italic;
        }

        .courseImg {
            height: 150px;
            width: 150px;
            object-fit: fill;
            border: 1px solid black;
        }
    }

    .active {
        border: 1px solid blue;
        background-color: lightblue;
        border-radius: 3px;
    }

    // Inserted CSS
    .bottomSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;

        .addPlayers{
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-bottom: 8px;
        
            .playerName {
                margin-right: 15px;
            }
        }

        .startBtn {
            width: 180px;
        }
    }
}

.bodyContainer2 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .teeTypesContainer {
        width: 100%;
    }

    .topSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .singleCourseImgContainer {
            display: flex;
            justify-content: center;
            height: 150px;
            width: 100vw;
            margin-top: 15px;
        }
        
        .singleCourseImg {
            object-fit: fill;
            height: 150px;
            width: 300px;
            border: 1px solid black;
        }

        .teeTypesTop {
            display: flex;
            justify-content: space-around;
        }

        .teeTypesBottom {
            display: flex;
            justify-content: space-around;
        }
    }

    .playerList {
        margin-bottom: 15px;
    }
}
